{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Awesome Social Media Website">
        <meta name="keywords" content="social, network, advanced_web_development">
        <meta name="author" content="Student Number: 190126209">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <link rel="stylesheet" type="text/css" href="../static/css/social_network.css">
    </head>
    <body>